@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

header {
    width: 100vw;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2rem;
}

h1 {
    font-family: "Nunito";
    font-size: 3rem;
    margin-top: -1rem;
    text-align: center;
    color: #ad4256;
}

.open {
    height: 100%;
    width: 4rem;
    margin: 0;
    float: right;
}

.plus {
    width: 1rem;
    margin: 0;
    position: absolute;
    margin-left: 3.5rem;
    margin-top: 0.6rem;
    transition: transform 0.1s ease-in;
}

.cross {
    width: 1.1rem;
    margin: 0;
}

.cross:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.plus:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title {
    margin-top: -2rem;
    color: black;
}

.result {
    height: 4rem;
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.input-result {
    height: 2rem;
    margin: 0.5rem;
    width: calc(10%-5rem);
}

.input-text {
    font-size: 1rem;
}

.result:hover {
    border: 2px solid black;
}

.result-text {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    margin-left: 1rem;
    font-weight: 100;
}

h2 {
    font-family: "Karla";
    text-align: center;
    margin-top: 5rem;
}

#error {
    color: #ad4256;
    font-family: "Karla";
    font-size: 1.2rem;
    font-weight: bold;
}

.move-up {
    margin-top: -2rem;
}

.summary {
    font-family: "Karla";
    font-size: 1.3rem;
}

.subtitle {
    margin-top: -1.5rem;
}

h3 {
    font-family: "Karla";
    color: #444444;
}

h4 {
    font-family: "Karla";
    color: #444444;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.main {
    margin-top: -6rem;
    background-color: #f6f6f6;
    flex: 1;
    max-width: 60rem;
    min-height: 20rem;
    height: 60vh;
    border-radius: 0.5rem;
    position: relative;
}

.scroll {
    overflow-y: auto;
    padding: 1rem;
    padding-top: 0rem;
    height: 21.2rem;
}

#error {
    padding: 1rem;
    padding-top: 0;
}

input {
    font-family: "Karla";
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 0.3rem;
    border: 2px solid black;
    margin-left: 1rem;
}

.input {
    font-size: 1rem;
    margin: 0.5rem;
    width: auto;
}

#date {
    font-size: 1rem;
    margin: 0.5rem;
    width: auto;
}


select {
    font-family: "Karla";
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 0.3rem;
    border: 2px solid black;
    margin-left: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    width: auto;
}

option {
    font-weight: bold;
}

#form {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
}


.option {
    background-color: #f6f6f6;
    height: 80vh;
    flex: 1;
    margin: 1rem;
    max-width: 20rem;
    min-width: 20rem;
    min-height: 25rem;
    height: 60vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

a {
    text-decoration: none;
}

.option:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    outline: 2px solid black;
}

.option:hover .button {
    margin-top: -1rem;
}


.option:hover .shadow {
    margin-top: -2.5rem;
}

.option:first-child {
    margin-left: 2rem;
}

.option:last-child {
    margin-right: 2rem;
}

img {
    margin-top: 2rem;
    width: 8rem;
}

.button {
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 1.5rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
    transition: margin-top 0.05s ease;
    z-index: 10;
}

.small {
    border: none;
    margin: 0;
    max-width: 10rem;
    background-image: linear-gradient(to left, black 50%, #ad4256 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
    transition: background-position 0.5s;
}

.smaller {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 4rem;
    max-width: 6rem;
    height: 1.6rem;
    font-size: 1rem;
}

.line {
    background-color: #bbb;
    height: 0.05rem;
    margin-top: 0.5rem;
    width: 100%;
}

.small:hover {
    background-position: 0 0;
    cursor: pointer;
}

.shadow {
    width: 80%;
    margin-top: -3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #ad4256;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-top 0.05s ease;
    font-family: "Nunito";
}

.grow {
    flex: 1;
}

@media (max-width: 65rem) {
    .option-main {
        flex-direction: column;
        align-items: center;
    }
 

    .option:first-child {
        margin-left: 2rem;
    } 

    .option {
        margin-left: 2rem;
    }

    .option:last-child {
        margin-left: 3rem;
        margin-bottom: 6rem;
    }


    .heading {
        font-size: 2rem;
    }

    img {
        margin-top: 1rem;
    }
}

.arrow {
    width: 4rem;
    height: auto;
    display: block; 
    margin: 0; 
}

.portal {
    margin: 0;
    margin-left: 1rem;
}

.back {
    display: flex;
    align-items: center;
    width: 16rem;
    height: 8rem;
    margin-left: 2rem;
}

.spinner {
    border: 4px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    border-top: 4px solid black;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin-right: 8px;
    display: inline-block;

}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

label {
    font-size: 1rem;
    font-family: "Nunito";
    font-size: 2rem;
}

.label {
    font-family: "Karla";
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    white-space: nowrap;
}

.divided {
    width: 100%;
    margin-top: -4rem;
    flex-direction: row;
    /*justify-content: flex-start;
    align-items: flex-start;*/
    display: flex;
    position: relative;
    justify-content: center;
}

.left {
    height: 30rem;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
}

.right {
    height: 30rem;
    /*flex: 1;*/
    width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    margin-right: 1rem;
}

.field {
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row {
    display: flex;
    align-items: center;
}

.half {
    min-width: 30%;
    height: 10px;
    background-color: red;
}

.top {
    box-sizing: border-box;
    width: 100%;
    font-family: "Karla";
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    padding-bottom: 0;
}

.thin {
    font-weight: normal;
}

#items {
    height: 12.5rem;
    overflow-y: auto;
}