<!DOCTYPE html>
<html>
  <head>
    <title>Joe's Pizzeria Portal</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <header>
      <h2>Welcome to</h2>
      <h1 class="heading">Joe's Pizzeria Portal</h1>
    </header>
    <main class="option-main">
      <a class="option" href="/import">
        <h3>IMPORT</h3>
        <img src="static/svg/import.svg" />
        <div class="grow"></div>
        <div class="button">IMPORT</div>
        <div class="shadow"></div>
        <h4>Import daily transactions from Joe's Place</h4>
      </a>
      <a class="option" href="/input">
        <h3>INPUT</h3>
        <img src="static/svg/input.svg"/>
        <div class="grow"></div>
        <div class="button">INPUT</div>
        <div class="shadow"></div>
        <h4>Record an order placed<br />instore</h4>
      </a>
      <a class="option" href="/report">
        <h3>REPORT</h3>
        <img src="static/svg/report.svg" />
        <div class="grow"></div>
        <div class="button">REPORT</div>
        <div class="shadow"></div>
        <h4>Perform the end-of-day operation</h4>
      </a>
    </main>
  </body>
</html>